.listSection{
    align-items: center;
    margin-top: 4rem;
    scroll-behavior: smooth;
}
.listSection, .listSection .foodSection{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    
}
.listSection .sectionName{
    color: #1B7892;
    font-family: "FuturaH", Sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    scroll-margin: 210px;
}

.listSection .sectionSub1{
    margin: 0;
    color: #F18510;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.listSection .sectionSub2{
    margin: 1rem;
    text-align: center;
    color: #064672;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (min-width:780px) {
    .listSection .foodSection{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        gap: 20px;
    }
}