@font-face {
  font-family: 'FuturaH';
  src: local('FuturaH'), url(./assets/fonts/Futura-Book-font-2.ttf) format('truetype');
}
@font-face {
  font-family: 'FuturaBook';
  src: local('FuturaBook'), url(./assets/fonts/Futura-Book-font-1.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
